.vscode
tempCodeRunnerFile.py
__pycache__
Eldendong.egg-info
tempo.py
Game.spec
script.spec
build/Game/Analysis-00.toc
build/Game/base_library.zip
build/Game/EXE-00.toc
build/Game/Game.exe.manifest
build/Game/Game.pkg
build/Game/PKG-00.toc
build/Game/PYZ-00.pyz
build/Game/PYZ-00.toc
build/Game/warn-Game.txt
build/Game/xref-Game.html
build/Game/localpycs/pyimod01_archive.pyc
build/Game/localpycs/pyimod02_importers.pyc
build/Game/localpycs/pyimod03_ctypes.pyc
build/Game/localpycs/pyimod04_pywin32.pyc
build/Game/localpycs/struct.pyc
dist/Game.exe
